h1{
    border: 2px solid black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
}
.a{
    width: 600px;
}
.db{
    width: 50px;
}
body{
    background-color: aquamarine;
}